includes:
    - vendor/phpstan/phpstan/extension.neon
    - vendor/phpstan/phpstan/rules.neon

parameters:
    level: 5
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    parallel:
        maximumNumberOfProcesses: 4
